footer#footer
    p Copyright &copy; 
        = copyright
    script(type='text/javascript', src='/static/jquery/dist/jquery.min.js')
    script(type='text/javascript', src='/static/tether/dist/js/tether.min.js')
    script(type='text/javascript', src='/static/bootstrap/dist/js/bootstrap.min.js')
    script(type='text/javascript', src='/static/chart.js/dist/Chart.bundle.min.js')
    script(type='text/javascript', src='/static/moment/min/moment.min.js')
    script(type='text/javascript', src='/static/js/core.js')