head
    title My Site
    link(rel='stylesheet', href='/static/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/static/tether/dist/css/tether.min.css')
    link(rel='stylesheet', href='/static/css/core.css')
    link(rel='icon', href='/static/img/favicon.png')
    script(type='text/javascript', src='/socket.io/socket.io.js')