doctype html
html
    include includes/head.pug
    body.c
        div.container
            div.row
                div.col-sm-12
                    h1 My Site
                    p Welcome to my super lame site.
                    include includes/foot.pug